<!-- Post Create Box
            ================================================= -->
<div class="create-post">
    <div class="row">
        <div class="col-md-7 col-sm-7">
            <div class="form-group">
                <form [formGroup]="postForm" (ngSubmit)="handleSubmit()">
                    <img src="assets/images/users/user-1.jpg" alt="" class="profile-photo-md" />
                    <textarea cols="30" rows="1" class="form-control" placeholder="Write what you wish"
                        formControlName="text"></textarea>



                    <div class="col-md-5 col-sm-5">
                        <div class="tools">
                            <ul class="publishing-tools list-inline">
                                <li><a href="#"><i class="ion-compose"></i></a></li>
                                <li><a href="#"><i class="ion-images"></i></a></li>
                                <li><a href="#"><i class="ion-ios-videocam"></i></a></li>
                                <li><a href="#"><i class="ion-map"></i></a></li>
                            </ul>


                            <input class="btn btn-primary pull-right" type="submit" value="Publish"
                                onClick="window.location.reload()">
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div><!-- Post Create Box End -->